# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/

# VS Code
.vscode/

# Model checkpoints and large binaries
*.pth
pairwise_model.pth
              